* {
    margin: 0;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    text-shadow: 2px 2px 5px black;
}

.img1 {
    background-image: url("https://i.pinimg.com/736x/9f/24/7c/9f247c7d4d0fbd30461c381835e292a9.jpg");
}

.img2 {
    background-image: url("https://i.pinimg.com/1200x/3c/d2/72/3cd27211dda0002a30046e3dda8b555e.jpg");
}

.content {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}