body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5d4e6;
    font-family: Arial, sans-serif;
}

h1 {
    color: #5d473a;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 244, 244);
    border: 2px solid rgb(101, 82, 70);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(86, 53, 53, 0.2);
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h3 {
    color: #5d473a;
    margin: 10px 0 5px 0;
    font-size: 2rem;
}

.card p {
    margin: 3px 0;
    color: #825625;
}

.socials {
    margin: 15px 0;
    display: flex;
    gap: 15px;
}

.socials a {
    color: #825625;
    font-size: 24px;
    transition: color 0.3s;
}

.socials a:hover {
    color: #eec3db;
}

button {
    background-color: rgb(234, 183, 215);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(228, 158, 201);
    color:#ffffff;
}