body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#balloon {
    width: 200px;
    height: 200px;
    background-color: #fa95d0ff;
    border-radius: 50%;
    transition: all 0.3s ease;
}